body {
    background-color: lightgray;
}

h1, h2, h3, p{
    text-align: center;
    font-style: italic;
}

img{
    margin-left: 25%;
    display: block;
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 400px;
}
