body{
    background-color: lightgray;
}

h1
{
    color: blue;
    position: relative;
    margin-left: 25%;
}

    video{
    margin-left: 200px;
}

h2{
    color: green;
    text-align: center;
    font-size: medium;
}

img{
    size: 300px;
    margin-left: 40%;
    display: block;
    width: 250px;
    border-style: solid;
    border-color: black;
}
