body{
    background-color: lightgray;
}

h1
{
    color: blue;
    position: relative;
    margin-left: 25%;
}

    video{
    margin-left: 200px;
}

h2{
    color: green;
    text-align: center;
    font-size: medium;
}