body{
    background-color: lightgray;
}

h1
{
    color: blue;
    text-align: center;
    background-color: grey;
}


h2 {
    color: green;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
    border-style: groove;
    border-color: black;
}

h3 {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin: 20px;
    text-align: justify;
}

h4 {
    color: darkblue;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    background: gray;
    padding: 1rem;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: black;
    border-radius: 5px;
}